* {
    background-color: white;
}


h1 {
    font-size: larger;
    font-weight: bolder;
    font-family: Roboto Mono ;
    background-color: #38369A;
    color: #5FAD41;
    text-align: center;
    line-height: 50px;
}

.blue {
    background-color: #38369A;
    color:#5FAD41 ;
    text-align: center;
    font-family: Roboto Mono;
}

.pl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* width: 500px;
    height: 500px; */
}

.contact {
    text-align: center;
    font-size: 45px;
}

.contactinfo {
    align-content: center;
    color: blue;
}